{% extends 'base.html' %}
{% block title %}Edit Cafe{% endblock %}


{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="add-cafe-message alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="edit-cafe-wrapper">
  <h1 class="add-cafe-heading">Edit Cafe</h1>
  <div class="row g-4 d-flex align-items-stretch">

    <div class="col-lg-6">
      <form class="add-cafe-form" method="POST" action="{{ url_for('edit') }}">
        <input type="hidden" name="id" value="{{ cafe.id }}" />

        <label for="name">Name:</label>
        <input id="name" name="name" type="text" required placeholder="New name" value="{{ cafe.name }}" />

        <label for="map_url">Map URL:</label>
        <input id="map_url" name="map_url" type="text" placeholder="New map URL" value="{{ cafe.map_url }}" />

        <label for="location">Location:</label>
        <input id="location" name="location" type="text" placeholder="New location" value="{{ cafe.location }}" />

        <label for="img_url">Image URL:</label>
        <input id="img_url" name="img_url" type="text" placeholder="New image URL" value="{{ cafe.img_url }}" />

        <div class="form-check">
          <input class="form-check-input" id="has_sockets" name="has_sockets" type="checkbox" value="1" >
          <input type="hidden" name="has_sockets" value="0">
          <label class="form-check-label" for="has_sockets">Sockets Available?</label>
        </div>

        <div class="form-check">
          <input class="form-check-input" id="has_toilet" name="has_toilet" type="checkbox" value="1" >
          <input type="hidden" name="has_toilet" value="0">
          <label class="form-check-label" for="has_toilet">Toilets Available?</label>
        </div>

        <div class="form-check">
          <input class="form-check-input" id="has_wifi" name="has_wifi" type="checkbox" value="1" >
          <input type="hidden" name="has_wifi" value="0">
          <label class="form-check-label" for="has_wifi">Wifi Available?</label>
        </div>

        <div class="form-check">
          <input class="form-check-input" id="can_take_calls" name="can_take_calls" type="checkbox" value="1" >
          <input type="hidden" name="can_take_calls" value="0">
          <label class="form-check-label" for="can_take_calls">Call Taking Available?</label>
        </div>

        <label for="seats">Number of seats:</label>
        <input id="seats" name="seats" type="text" placeholder="New number of seats" value="{{ cafe.seats }}" />

        <label for="coffee_price">Coffee price:</label>
        <input id="coffee_price" name="coffee_price" type="text" placeholder="New coffee price" value="{{ cafe.coffee_price }}" />

        <button type="submit" class="submit-btn">Save Changes</button>
      </form>
    </div>



    <div class="col-lg-6 text-center">
      <div class="cafe-image-wrapper">
        <img src="{{ cafe.img_url }}" alt="Cafe image" class="img-fluid rounded shadow-sm">
      </div>
    </div>
  </div>
</div>
{% endblock %}