<footer class="bg-dark text-white pt-5 pb-4">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left">

      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Cafe&Wifi</h5>
        <p>Your go-to spot for coffee, comfort, and ultra-fast WiFi. Recharge your mind here.</p>
      </div>



      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Links</h5>
        <p><a href="#" class="text-white" style="text-decoration: none;">Your account</a></p>
        <p><a href="#" class="text-white" style="text-decoration: none;">Support</a></p>
        <p><a href="#" class="text-white" style="text-decoration: none;">Privacy Policy</a></p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact</h5>
        <p><i class="fas fa-home mr-3"></i> Gdansk, Poland</p>
        <p><i class="fas fa-envelope mr-3"></i> contact@cafewifi.com</p>
        <p><i class="fas fa-phone mr-3"></i> +48 123 456 789</p>
      </div>

    </div>

    <hr class="mb-4">

    <div class="row align-items-center">
      <div class="col-md-7 col-lg-8">
    <p class="text-white">© 2025 Cafe & Wifi. All rights reserved.</p>
      </div>

      <div class="col-md-5 col-lg-4">
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-twitter"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
    <!-- move top -->
  <button onclick="topFunction()" id="movetop" title="Go to top" style="display: block;">
    <span class="fa fa-angle-up"></span>
  </button>
  <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
      scrollFunction()
    };

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("movetop").style.display = "block";
      } else {
        document.getElementById("movetop").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  </script>
  <!-- /move top -->

</footer>
